In [2]:
import pandas as pd
%matplotlib inline

In [9]:
train = pd.read_csv("X_test.csv", quoting=0, header=0, delimiter=",")

In [10]:
train.head()

,User_id,Start_time,City,State,Country,Lat,Lng,C_1,C_2,C_3,...,Birthyear,Gender,JoinedAt,Location,Timezone,Invited,Timestamp,Interested,Not_interested,Event_ID
0,988160405,2013-02-01T04:55:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(104.88-104.91],2,1,(1.5-4.5],...,1994,male,2012-11-01T09:30:28.469Z,'Phnom Penh',420,0,'2012-11-01 10:22:21.125000+00:00',0,0,1269035551
1,358368837,2012-10-29T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],1,0,(-inf-1.5],...,1995,male,2012-10-29T13:11:43.655Z,Sibolga,420,0,'2012-10-29 13:16:21.913000+00:00',1,0,3835917768
2,1611204256,2012-09-29T00:00:00.002Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],2,1,(1.5-4.5],...,1990,male,2012-09-28T06:33:39.431Z,'Los Angeles CA',-480,0,'2012-09-28 06:34:21.458000+00:00',0,0,915347945
3,3122183291,2012-11-04T02:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],0,0,(-inf-1.5],...,1993,female,2012-10-26T21:23:01.067Z,'Miami Florida',-240,0,'2012-10-30 21:47:01.564000+00:00',0,0,3828653648
4,1832146052,2012-10-06T03:00:00.003Z,(619.5-626.5],NaN,(42.5-53.5],(3.194-11.531],(44.77-98.72],2,0,(-inf-1.5],...,1989,male,2012-10-04T20:46:59.823Z,'Medan Indonesia',420,0,'2012-10-04 20:57:51.763000+00:00',0,0,1390707377

In [11]:
#train.groupby("lng").size()

In [12]:
#train1 = pd.read_csv("Test_train/X_train1_2_BK_2.csv", quoting=0, header=0, delimiter=",")

In [14]:
train.groupby("Lng").size()

Lng
(-61.32-44.77]     1230
(-70.5--61.32]       46
(-inf--70.5]        696
(104.88-104.91]     116
(104.91-107.58]     269
(107.58-inf)        224
(44.77-98.72]       418
(98.72-104.88]       81
dtype: int64

In [181]:
co = train.loc[train['C_8'].isin(["(1.5-inf)"])]

In [182]:
co

,User_id,Start_time,City,State,Country,Lat,Lng,C_1,C_2,C_3,...,Birthyear,Gender,JoinedAt,Location,Timezone,Invited,Timestamp,Interested,Not_interested,Event_ID
18,1171363794,2012-07-18T17:00:00.000Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],2,1,(4.5-inf),...,1987,male,2012-07-17T17:59:26.636Z,NaN,-240,0,'2012-07-18 14:43:37.219000+00:00',0,1,1891078660
21,210296799,2012-12-11T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],6,8,(1.5-4.5],...,1988,male,2012-10-09T19:43:52.141Z,'Los Angeles California',240,0,'2012-10-09 19:45:33.822000+00:00',1,0,899234866
22,2541238114,2012-09-27T11:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-inf--5.159],(107.58-inf),4,0,(-inf-1.5],...,1990,male,2012-09-27T08:09:00.563Z,'Sigli Aceh Indonesia',420,0,'2012-09-27 08:12:09.153000+00:00',1,0,1347426650
24,631446479,2012-10-26T20:15:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],2,2,(-inf-1.5],...,1986,female,2012-10-21T09:27:27.160Z,'Los Angeles California',-480,0,'2012-10-23 12:11:40.472000+00:00',0,0,3158709668
41,3835637004,2012-07-21T16:00:00.000Z,(-inf-619.5],TX,(0.5-42.5],(11.554-inf),(-inf--70.5],6,5,(4.5-inf),...,1983,male,2012-06-15T18:11:08.144Z,NaN,-480,1,'2012-07-18 23:36:55.257000+00:00',0,0,4037816474
43,249577815,2012-10-13T05:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],3,4,(1.5-4.5],...,1984,male,2012-10-10T15:50:13.639Z,'Mexico City Mexico',-360,0,'2012-10-10 15:50:49.470000+00:00',0,0,1447029818
54,3943175229,2012-08-23T22:00:00.003Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],8,2,(4.5-inf),...,1966,female,2012-07-17T12:07:32.518Z,NaN,-300,0,'2012-08-19 12:51:40.704000+00:00',0,0,1775180166
118,3453760477,2012-11-15T22:00:00.003Z,(-inf-619.5],MD,(0.5-42.5],(11.554-inf),(-inf--70.5],6,7,(1.5-4.5],...,1984,male,2012-11-14T20:07:37.588Z,'Hollywood California',120,0,'2012-11-14 20:09:02.328000+00:00',0,0,298123814
135,3835637004,2012-06-23T23:00:00.000Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],12,10,(4.5-inf),...,1983,male,2012-06-15T18:11:08.144Z,NaN,-480,0,'2012-06-22 21:27:27.637000+00:00',0,0,1699476673
146,2981133909,2012-10-26T04:00:00.003Z,(626.5-688.5],CA,(0.5-42.5],(11.554-inf),(-inf--70.5],3,4,(1.5-4.5],...,1988,female,2012-10-24T22:48:36.164Z,'Fontana California',-480,0,'2012-10-24 22:49:55.261000+00:00',0,0,3750616262
155,4140744216,2012-12-11T05:00:00.003Z,(-inf-619.5],CA,(0.5-42.5],(11.554-inf),(-inf--70.5],9,4,(1.5-4.5],...,1988,male,2012-09-30T08:24:12.737Z,'Los Angeles California',-420,0,'2012-12-06 11:21:37.130000+00:00',0,0,1838041662
169,491263047,2012-11-01T01:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],3,15,(4.5-inf),...,1992,female,2012-10-30T00:46:55.357Z,'Jogjakarta Indonesia',420,0,'2012-10-30 00:49:27.412000+00:00',0,0,2628680570
178,283716061,2012-11-04T08:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(104.88-104.91],14,7,(4.5-inf),...,1992,female,2012-11-01T06:05:33.484Z,'Phnom Penh',420,0,'2012-11-01 06:06:15.428000+00:00',0,0,1076364848
188,2217853337,2012-10-06T01:00:00.003Z,(626.5-688.5],CT,(0.5-42.5],(11.554-inf),(-inf--70.5],3,4,(-inf-1.5],...,1993,male,2012-09-25T16:45:36.181Z,'Derby Connecticut',-300,0,'2012-10-03 20:42:21.848000+00:00',0,0,4029785203
189,4058274528,2012-10-30T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],0,1,(-inf-1.5],...,1987,male,2012-10-28T23:17:40.657Z,Mataram,510,0,'2012-10-29 05:37:50.657000+00:00',0,0,3489853891
191,3461518589,2012-08-03T22:00:00.000Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],5,3,(1.5-4.5],...,None,female,2012-05-19T17:16:26.684Z,NaN,-240,1,'2012-08-03 10:24:24.255000+00:00',0,0,3266986323
196,1548216840,2012-11-01T03:00:00.003Z,(626.5-688.5],AZ,(0.5-42.5],(11.554-inf),(-inf--70.5],2,6,(-inf-1.5],...,1991,male,2012-09-14T05:22:13.937Z,'Glendale Arizona',-420,0,'2012-10-28 12:21:00.419000+00:00',1,0,2595699357
201,486884397,2012-11-01T01:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],3,15,(4.5-inf),...,1994,female,2012-10-30T07:28:44.919Z,Yogyakarta,420,0,'2012-10-30 07:29:22.981000+00:00',0,0,2628680570
202,2223946882,2012-09-29T02:00:00.003Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],9,1,(4.5-inf),...,1993,male,2012-09-27T15:00:59.419Z,'Toronto Ontario',-300,0,'2012-09-27 15:01:31.970000+00:00',0,0,2430405430
207,38985694,2012-12-02T06:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],4,7,(1.5-4.5],...,1986,male,2012-11-19T23:46:46.485Z,'Los Angeles California',-480,0,'2012-12-01 17:31:05.504000+00:00',0,0,2414905031
238,4001997352,2012-11-16T20:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],4,3,(4.5-inf),...,1990,male,2012-10-05T18:15:51.432Z,'Rancho Palos Verdes California',-480,0,'2012-11-16 00:47:40.646000+00:00',0,0,1066839399
239,749467696,2012-08-18T00:00:00.001Z,(-inf-619.5],SK,(0.5-42.5],(11.554-inf),(-inf--70.5],2,0,(1.5-4.5],...,1973,female,2012-07-31T02:36:35.716Z,NaN,-420,0,'2012-08-16 21:33:44.098000+00:00',0,0,494878884
242,1641960627,2012-11-18T04:00:00.003Z,(-inf-619.5],NY,(0.5-42.5],(11.554-inf),(-inf--70.5],2,0,(-inf-1.5],...,1995,male,2012-11-14T06:41:57.256Z,'Guaricano Distrito Nacional Dominican Repub...,60,0,'2012-11-14 06:42:24.263000+00:00',0,0,3315433656
245,3835637004,2012-06-23T12:00:00.000Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],4,1,(1.5-4.5],...,1983,male,2012-06-15T18:11:08.144Z,NaN,-480,0,'2012-06-23 03:31:23.103000+00:00',0,0,1586739051
256,4206209185,2012-11-11T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],4,1,(1.5-4.5],...,1994,male,2012-10-31T07:23:07.254Z,'Phnom Penh',420,0,'2012-10-31 07:25:12.200000+00:00',0,0,1902753965
263,631446479,2012-10-26T01:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],2,1,(-inf-1.5],...,1986,female,2012-10-21T09:27:27.160Z,'Los Angeles California',-480,1,'2012-10-23 12:11:40.472000+00:00',0,0,1937970808
264,1486465606,2012-11-04T08:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(104.88-104.91],14,7,(4.5-inf),...,1990,male,2012-11-01T07:42:56.682Z,'Phnom Penh',420,0,'2012-11-01 07:44:02.223000+00:00',1,0,1076364848
266,910947719,2012-10-22T14:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],7,4,(4.5-inf),...,1977,male,2012-09-24T18:11:31.058Z,'Middletown Orange County New York',-300,0,'2012-10-18 09:38:12.826000+00:00',0,0,2715927267
279,2903662804,2012-10-20T03:00:00.003Z,(-inf-619.5],CA,(0.5-42.5],(11.554-inf),(-inf--70.5],2,4,(1.5-4.5],...,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,'2012-10-18 07:25:19.254000+00:00',1,0,3076752265
287,2467409062,2012-11-02T07:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],4,8,(1.5-4.5],...,1996,female,2012-11-01T09:27:23.382Z,'Paris France',240,0,'2012-11-01 09:28:17.319000+00:00',0,0,3984042837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12057,2041677127,2012-11-11T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],4,1,(1.5-4.5],...,1988,female,2012-11-03T11:57:41.657Z,'Phnom Penh',420,1,'2012-11-03 11:58:35.937000+00:00',0,0,1902753965
12070,2031754020,2012-12-12T18:00:00.002Z,(626.5-688.5],Kampot,(0.5-42.5],(3.194-11.531],(98.72-104.88],1,1,(-inf-1.5],...,1993,female,2012-11-07T08:47:39.802Z,'Phnom Pen Phnum Penh Cambodia',420,0,'2012-11-07 08:48:13.139000+00:00',0,0,2396566946
12091,1000293064,2012-11-01T00:00:00.001Z,(626.5-688.5],NaN,(0.5-42.5],(11.554-inf),(44.77-98.72],2,2,(1.5-4.5],...,1995,female,2012-10-28T10:06:42.392Z,'Medan Indonesia',-480,0,'2012-10-28 10:07:32.129000+00:00',0,0,2633697384
12098,2458053629,2012-11-06T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],2,0,(1.5-4.5],...,1996,male,2012-11-04T14:13:53.628Z,'Curepipe Mauritius',300,0,'2012-11-04 16:03:38.387000+00:00',0,0,989190365
12104,2774351000,2012-11-01T00:00:00.001Z,(626.5-688.5],NaN,(0.5-42.5],(11.554-inf),(44.77-98.72],2,2,(1.5-4.5],...,1995,male,2012-10-23T11:16:59.808Z,'Medan Indonesia',420,0,'2012-10-29 05:37:54.974000+00:00',0,0,2633697384
12106,3669633546,2012-09-30T22:00:00.003Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],15,8,(4.5-inf),...,1981,female,2012-09-28T04:21:21.015Z,'Toronto Ontario',-300,0,'2012-09-28 04:24:07.057000+00:00',0,0,130911918
12111,4200601044,2012-09-23T17:00:00.003Z,(-inf-619.5],IL,(0.5-42.5],(11.554-inf),(-inf--70.5],5,2,(1.5-4.5],...,1975,male,2012-09-20T16:55:43.307Z,'Phoenix Arizona',-420,0,'2012-09-21 22:17:26.630000+00:00',0,0,2030880654
12119,2030266367,2012-11-16T02:00:00.003Z,(-inf-619.5],NY,(0.5-42.5],(11.554-inf),(-inf--70.5],5,1,(1.5-4.5],...,1989,female,2012-11-14T13:22:10.150Z,Sihanoukville,420,0,'2012-11-14 13:23:14.567000+00:00',0,0,2543488064
12122,1349230619,2012-10-12T00:00:00.003Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],4,1,(1.5-4.5],...,1971,male,2012-10-06T20:17:11.756Z,'Toronto Ontario',-240,0,'2012-10-11 18:59:20.779000+00:00',0,0,711971335
12123,2944246732,2012-11-10T00:30:00.003Z,(626.5-688.5],NaN,(53.5-inf),(3.194-11.531],(104.91-107.58],7,3,(4.5-inf),...,1993,male,2012-10-30T14:45:56.712Z,'Phnom Penh',420,1,'2012-10-30 14:46:31.751000+00:00',1,0,1816813281
12129,326930040,2012-07-26T23:00:00.000Z,(-inf-619.5],LA,(0.5-42.5],(11.554-inf),(-inf--70.5],11,8,(4.5-inf),...,1973,male,2012-07-24T17:28:45.307Z,NaN,-300,0,'2012-07-25 20:12:43.357000+00:00',0,0,33704537
12134,2928822295,2012-10-30T16:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(-61.32-44.77],4,2,(1.5-4.5],...,1988,male,2012-10-27T12:25:34.790Z,'Flacq Flacq Mauritius',240,0,'2012-10-27 12:28:03.105000+00:00',0,0,3251813967
12137,374950100,2012-10-21T02:30:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],6,9,(4.5-inf),...,1995,male,2012-10-20T22:13:02.389Z,Bekasi,420,0,'2012-10-20 22:14:16.587000+00:00',1,0,2606923091
12154,898918449,2012-10-20T23:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],6,5,(4.5-inf),...,1989,female,2012-10-18T00:53:00.891Z,'Los Angeles California',-480,0,'2012-10-18 00:58:35.197000+00:00',0,0,1570416070
12163,3593927263,2012-11-03T16:00:00.003Z,(-inf-619.5],GA,(0.5-42.5],(11.554-inf),(-inf--70.5],15,8,(4.5-inf),...,1979,male,2012-10-30T12:45:52.294Z,'Santo Domingo Dominican Republic',480,0,'2012-10-30 12:47:26.466000+00:00',1,0,2982493746
12165,1038432983,2012-09-28T02:00:00.003Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],5,3,(1.5-4.5],...,1981,female,2012-09-26T03:58:33.777Z,'Ottawa Ontario',-240,0,'2012-09-26 04:02:41.273000+00:00',0,0,3914593969
12169,2457737664,2012-10-19T02:00:00.003Z,(626.5-688.5],NC,(0.5-42.5],(11.554-inf),(-inf--70.5],11,6,(1.5-4.5],...,1990,female,2012-10-17T23:24:14.466Z,'Panorama City CA',-480,0,'2012-10-17 23:26:39.369000+00:00',0,0,1922434523
12195,2837984655,2012-11-01T20:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],8,2,(1.5-4.5],...,1990,female,2012-10-05T06:43:08.235Z,'Irvine California',-480,0,'2012-10-28 00:06:38.625000+00:00',0,0,427268030
12198,50457238,2012-11-10T00:30:00.003Z,(626.5-688.5],NaN,(53.5-inf),(3.194-11.531],(104.91-107.58],7,3,(4.5-inf),...,1992,male,2012-10-30T23:41:32.774Z,'Phnom Penh',420,0,'2012-10-30 23:42:43.157000+00:00',1,0,1816813281
12215,4081761804,2012-08-04T01:00:00.000Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],3,1,(1.5-4.5],...,1989,male,2012-06-09T21:43:48.490Z,NaN,-240,0,'2012-07-31 06:26:44.788000+00:00',1,0,1703662408
12222,1048933817,2012-10-31T14:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(104.91-107.58],5,1,(-inf-1.5],...,1986,male,2012-10-30T19:45:58.351Z,'Phnom Penh 11',420,0,'2012-10-30 19:48:16.010000+00:00',1,0,910169576
12239,2633145288,2012-11-10T00:30:00.003Z,(626.5-688.5],NaN,(53.5-inf),(3.194-11.531],(104.91-107.58],7,3,(4.5-inf),...,1993,male,2012-11-01T10:13:04.634Z,'Phnom Penh',420,0,'2012-11-01 10:14:42.837000+00:00',1,0,1816813281
12250,2669808667,2012-11-10T00:00:00.001Z,(626.5-688.5],NaN,(53.5-inf),(11.536-11.551],(104.91-107.58],5,6,(4.5-inf),...,1988,male,2012-11-05T05:04:25.666Z,'Phnom Penh',-480,0,'2012-11-05 05:07:49.196000+00:00',0,0,1716470668
12255,2885761776,2012-10-17T19:00:00.003Z,(626.5-688.5],NaN,(53.5-inf),(-5.159-3.194],(-61.32-44.77],1,3,(-inf-1.5],...,1994,male,2012-10-15T11:45:50.076Z,'Los Angeles California',480,0,'2012-10-15 11:46:51.027000+00:00',1,0,3676123091
12261,1917038415,2012-10-26T20:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(-inf--5.159],(-61.32-44.77],8,4,(1.5-4.5],...,1987,male,2012-10-26T17:56:40.769Z,NaN,180,0,'2012-10-26 17:57:21.355000+00:00',1,0,3305669901
12263,1932371532,2012-11-26T22:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(-61.32-44.77],4,8,(4.5-inf),...,1992,male,2012-11-27T02:58:29.790Z,'Medan Indonesia',420,0,'2012-11-27 03:38:40.737000+00:00',0,0,2797704901
12281,2624862533,2012-11-04T08:00:00.003Z,(-inf-619.5],NaN,(0.5-42.5],(11.554-inf),(104.88-104.91],14,7,(4.5-inf),...,1992,female,2012-11-01T09:10:32.580Z,'Phnom Penh',420,0,'2012-11-01 09:12:00.405000+00:00',1,0,1076364848
12302,843843832,2012-07-19T21:30:00.000Z,(-inf-619.5],IL,(0.5-42.5],(11.554-inf),(-inf--70.5],6,0,(-inf-1.5],...,1982,female,2012-07-15T13:15:44.670Z,NaN,-240,0,'2012-07-19 21:13:29.042000+00:00',1,0,1761619035
12305,3464961116,2012-08-18T15:00:00.003Z,(626.5-688.5],ON,(0.5-42.5],(11.554-inf),(-inf--70.5],4,2,(1.5-4.5],...,1979,male,2012-06-18T21:06:42.350Z,NaN,-300,0,'2012-08-18 12:58:17.218000+00:00',1,0,76912742
12307,651258472,2012-11-25T05:00:00.003Z,(-inf-619.5],CA,(0.5-42.5],(11.554-inf),(-inf--70.5],4,2,(1.5-4.5],...,1978,male,2012-11-23T03:14:54.722Z,'Los Angeles California',-480,0,'2012-11-23 03:17:11.469000+00:00',0,0,2006433337

In [183]:
co.to_csv("C8(1.5-inf).csv", index = False)