In [2]:
import pandas as pd
from sklearn import cross_validation
%matplotlib inline

In [3]:
train = pd.read_csv("alljoined15kinteraction2_1_encodedarf2_3_1_OneValueRange2.csv", quoting=0, header=0, delimiter=",")

In [60]:
train = pd.read_csv("top100_ocuring_eventsoverallMain.csv", quoting=0, header=0, delimiter=",")

In [80]:
train = pd.read_csv("exportTest100Occuring.csv", quoting=0, header=0, delimiter=",")

In [110]:
t = train.USER_ID

In [111]:
t

0       661907327
1       555727671
2      2706381153
3      2863925078
4      1739369956
5      1185909505
6      3006433212
7        97062150
8      2018840392
9      3300006570
10     3939277895
11     1733597545
12     2579352265
13     1087870025
14     2087739026
15       96920130
16     3203593930
17     3987684633
18     2238882361
19     2317630684
20     1927515781
21      168520465
22      640531312
23     3211179030
24      656664529
25      396008921
26     1800952806
27     3151067532
28       76313799
29      620761021
          ...
321    4045020395
322    1050303296
323    3156258711
324    2178409601
325    1325976285
326    1078537007
327    3682151225
328    3924556291
329    2225154987
330    2030247174
331    2177461994
332    1071963586
333      74504185
334    2883004291
335    3969445925
336    2024760795
337    3400749749
338     532014578
339    1476755701
340    2943972367
341    1068430193
342    3141270743
343    2194944131
344    4018723397
345    2609208135
346    1150855279
347    2382789871
348    1144686688
349    2343731867
350    2850503069
Name: USER_ID, dtype: int64

In [112]:
t1 = list(t)

In [113]:
t1

[661907327,
 555727671,
 2706381153,
 2863925078,
 1739369956,
 1185909505,
 3006433212,
 97062150,
 2018840392,
 3300006570,
 3939277895,
 1733597545,
 2579352265,
 1087870025,
 2087739026,
 96920130,
 3203593930,
 3987684633,
 2238882361,
 2317630684,
 1927515781,
 168520465,
 640531312,
 3211179030,
 656664529,
 396008921,
 1800952806,
 3151067532,
 76313799,
 620761021,
 2815174275,
 609504174,
 1571871667,
 1568529849,
 1464451813,
 1686132519,
 3550832930,
 2668702555,
 367845178,
 4288669162,
 1879127286,
 1718898264,
 4217391078,
 2371436573,
 151534919,
 3892760681,
 3815746762,
 500590864,
 3475966810,
 269394305,
 23465780,
 4268968909,
 1981701814,
 3358691318,
 2258212445,
 256035140,
 3245449378,
 942095316,
 975501999,
 404226314,
 1094788037,
 1895700651,
 378788595,
 3399370476,
 2301083010,
 1781227779,
 3270633490,
 3953805126,
 778295633,
 1792619547,
 2057654985,
 2853688818,
 4022287072,
 1452836623,
 975885955,
 3445686240,
 3044948713,
 1540705179,
 192951763,
 2499645933,
 3287283918,
 536673024,
 1759431765,
 2936934993,
 1392003365,
 1929993059,
 3284221169,
 1115995297,
 1964994682,
 71092144,
 2301837429,
 4132156908,
 2813858112,
 15390083,
 1027602768,
 511678471,
 901207935,
 2726466130,
 693535188,
 840945029,
 3627636732,
 3607672432,
 913890035,
 3019985439,
 1539795814,
 110128780,
 1925883781,
 3226236386,
 4110409496,
 3083116980,
 1038960564,
 1794241017,
 182290053,
 3790591028,
 1513532936,
 283032695,
 1432546106,
 1684440449,
 1114548338,
 2124468398,
 1528971092,
 3627571763,
 1524886161,
 1683687851,
 1947430492,
 2585857017,
 2652071763,
 2467063943,
 3062811490,
 1474879368,
 3858694816,
 2723711433,
 3582004219,
 149914134,
 988874074,
 1935886581,
 1181399405,
 3063570853,
 2288466976,
 3026296984,
 2799306064,
 685448397,
 2967741107,
 1227878272,
 166773493,
 4019376868,
 160230482,
 1315245132,
 3964856605,
 3655365717,
 3581835660,
 4099439378,
 212922688,
 1174924783,
 1810026348,
 1237612088,
 721089780,
 2391268949,
 433510318,
 1367498504,
 424866781,
 980154606,
 583119832,
 1467753127,
 1696780091,
 3445274859,
 2959872768,
 1727210805,
 971572498,
 2985559658,
 1317057097,
 507590029,
 900914043,
 2867397699,
 2097638279,
 216180088,
 1210932037,
 4125614780,
 3255013048,
 188875346,
 602148753,
 4036877181,
 2755154178,
 1034862978,
 356982085,
 3188659428,
 3537668660,
 3120509854,
 1415268912,
 3391248744,
 1447459888,
 80365330,
 2664817652,
 4262553869,
 3384327553,
 1412643824,
 2857166402,
 4244826201,
 3474165907,
 938766697,
 2825444746,
 2480681213,
 2056169186,
 1635772602,
 2657081799,
 1952989987,
 487468823,
 2101691514,
 1549085270,
 1354531726,
 2505058685,
 2622502489,
 2034510440,
 4204903154,
 1214698655,
 1383404582,
 1985184901,
 442080465,
 3971863644,
 1384880491,
 981507216,
 2421584601,
 1611246540,
 3580128452,
 1322959747,
 521412534,
 1953311106,
 2001549733,
 4246840619,
 3900238416,
 502787831,
 4128216168,
 601185173,
 3636724939,
 2661941135,
 93148987,
 617013723,
 3981117943,
 2295604395,
 3156280563,
 3594171699,
 2762021126,
 380985803,
 3199685636,
 2667658189,
 1751890352,
 855146601,
 2799869027,
 1196973493,
 2932100756,
 2872854546,
 1013594520,
 4136999827,
 576889228,
 3677612174,
 1449039754,
 1769475808,
 1091610794,
 3454909050,
 222319155,
 2247085544,
 2346084629,
 3503737307,
 473558899,
 944898886,
 3659421361,
 929368698,
 1220061846,
 1645299738,
 457456094,
 3110482182,
 3507630779,
 3838037746,
 3316923302,
 2637352610,
 4088211339,
 3138500404,
 3697643704,
 699420462,
 137002204,
 4176372154,
 3240223983,
 3282478477,
 806246894,
 3160835923,
 436276762,
 1000957666,
 1757874805,
 485626279,
 1473654738,
 3480781792,
 4107865904,
 4122118697,
 4051862296,
 113021847,
 2964090531,
 3440770225,
 2215389832,
 562786011,
 3970062925,
 3014690438,
 2731543010,
 3781956022,
 985718337,
 3810743959,
 1531952242,
 3562653363,
 293229720,
 1111951186,
 1827991074,
 4159195102,
 3261535803,
 3173136187,
 3637069534,
 2171200902,
 3834320657,
 2020751512,
 3296184072,
 2106955961,
 141849067,
 713889887,
 4045020395,
 1050303296,
 3156258711,
 2178409601,
 1325976285,
 1078537007,
 3682151225,
 3924556291,
 2225154987,
 2030247174,
 2177461994,
 1071963586,
 74504185,
 2883004291,
 3969445925,
 2024760795,
 3400749749,
 532014578,
 1476755701,
 2943972367,
 1068430193,
 3141270743,
 2194944131,
 4018723397,
 2609208135,
 1150855279,
 2382789871,
 1144686688,
 2343731867,
 2850503069]

In [61]:
train.head()

,Event_id,Start_time,City,State,Country,Lat,Lng,C_1,C_2,C_3,...,Invited,Timestamp,Not_interested,Locale,BirthYear,Gender,JoinedAt,Location,Timezone,Interested
0,3048578499,2012-11-03T00:00:00.001Z,931,NaN,81,3.194,44.77,0,0,1.5,...,0,2012-11-01 11:58:47.415000+00:00',0,en_US,1989,male,2012-10-31T13:56:42.645Z,Phnom Penh',420,0
1,3048578499,2012-11-03T00:00:00.001Z,931,NaN,81,3.194,44.77,0,0,1.5,...,0,2012-10-30 09:12:46.813000+00:00',0,en_US,1993,male,2012-10-30T09:12:13.109Z,Sihanoukville,420,0
2,3048578499,2012-11-03T00:00:00.001Z,931,NaN,81,3.194,44.77,0,0,1.5,...,0,2012-10-31 23:11:15.728000+00:00',0,en_US,1985,female,2012-10-31T23:10:33.963Z,Phnom Penh',420,0
3,3048578499,2012-11-03T00:00:00.001Z,931,NaN,81,3.194,44.77,0,0,1.5,...,0,2012-10-29 16:36:24.589000+00:00',0,en_US,1994,male,2012-10-29T16:35:13.147Z,Phnom Penh',420,0
4,3048578499,2012-11-03T00:00:00.001Z,931,NaN,81,3.194,44.77,0,0,1.5,...,0,2012-10-30 07:07:00.329000+00:00',0,en_US,1994,male,2012-10-29T16:13:05.790Z,Phnom Penh',420,0

In [64]:
s = train.groupby("Event_id").size()

In [65]:
s.shape

(101L,)

In [94]:
test = pd.read_csv("test.csv", quoting=0, header=0, delimiter=",")

In [95]:
test.head()

   user_id       event  invited                         timestamp
0  1776192  2877501688        0  2012-11-30 11:39:01.230000+00:00
1  1776192  3025444328        0  2012-11-30 11:39:01.230000+00:00
2  1776192  4078218285        0  2012-11-30 11:39:01.230000+00:00
3  1776192  1024025121        0  2012-11-30 11:39:01.230000+00:00
4  1776192  2972428928        0  2012-11-30 11:39:21.985000+00:00

In [96]:
test.shape

(10237, 4)

In [97]:
train.shape

(351, 9)

In [98]:
t =train.drop_duplicates()

In [99]:
b = train.Event_id.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Event_id'

In [5]:
c= b[b>11]

In [6]:
c.to_csv("top100_Occuring_eventsall.csv")

In [72]:
top = pd.read_csv("top100_Occuring_eventsall2.csv", quoting=0, header=0, delimiter=",")

In [73]:
listTop=list(top["Event_id"])

In [115]:
contains = test.loc[test['user_id'].isin(t1)]

In [120]:
contains1 = contains.loc[contains['event'].isin(listTop)]

In [121]:
contains1

          user_id       event  invited                         timestamp
29       15390083   907302600        0  2012-10-25 13:08:26.153000+00:00
30       15390083  2643833505        0  2012-10-25 13:08:22.098000+00:00
31       15390083  1361307272        0  2012-10-25 13:08:22.098000+00:00
32       15390083   955398943        0  2012-10-25 13:08:22.098000+00:00
33       15390083   771676713        0  2012-10-25 13:08:22.098000+00:00
34       15390083   633659090        0  2012-10-25 13:08:22.098000+00:00
35       15390083  2529072432        0  2012-10-25 13:08:22.098000+00:00
55       23465780  2529072432        0  2012-10-16 10:45:50.263000+00:00
57       23465780   602394192        0  2012-10-16 10:45:50.263000+00:00
58       23465780   955398943        0  2012-10-16 10:45:50.263000+00:00
61       23465780  1600413013        0  2012-10-16 10:45:50.263000+00:00
144      71092144  3735036412        0  2012-10-13 11:28:22.892000+00:00
162      74504185  2643833505        0  2012-10-24 04:10:24.795000+00:00
163      74504185   633659090        0  2012-10-24 04:10:02.638000+00:00
164      74504185   771676713        0  2012-10-24 04:10:02.638000+00:00
166      74504185  1361307272        0  2012-10-24 04:10:02.638000+00:00
167      74504185  2529072432        0  2012-10-24 04:10:02.638000+00:00
168      74504185   907302600        0  2012-10-24 04:10:02.638000+00:00
169      74504185   955398943        0  2012-10-24 04:10:19.755000+00:00
182      76313799  1203717384        0  2012-11-01 05:17:24.192000+00:00
183      76313799   673098017        0  2012-11-01 05:17:24.192000+00:00
184      76313799  1269035551        0  2012-11-01 05:17:24.192000+00:00
185      76313799   268233790        0  2012-11-01 05:17:24.192000+00:00
187      76313799  2149464820        0  2012-11-01 05:17:24.192000+00:00
195      80365330   559618821        0  2012-10-25 00:54:19.221000+00:00
200      80365330  2806565970        0  2012-10-25 00:54:19.221000+00:00
218      93148987  1600413013        0  2012-10-16 14:30:01.940000+00:00
222      93148987   955398943        0  2012-10-16 14:30:01.940000+00:00
224      93148987   602394192        0  2012-10-16 14:30:01.940000+00:00
232      96920130  1241270051        0  2012-11-01 01:51:25.783000+00:00
...           ...         ...      ...                               ...
9982   4176372154  1076364848        0  2012-11-01 09:37:59.460000+00:00
9983   4176372154  1269035551        0  2012-11-01 09:37:59.460000+00:00
9984   4176372154  2007279414        0  2012-11-01 09:37:59.460000+00:00
10024  4204903154   834360181        0  2012-10-30 15:54:44.264000+00:00
10026  4204903154  2153037761        0  2012-10-30 15:54:44.264000+00:00
10028  4204903154  2115491671        0  2012-10-30 15:54:44.264000+00:00
10054  4217391078  1332759137        0  2012-10-27 11:26:31.303000+00:00
10059  4217391078   642644408        0  2012-10-27 11:26:31.303000+00:00
10109  4244826201  1269035551        0  2012-11-03 12:29:27.173000+00:00
10112  4244826201  1076364848        0  2012-11-03 12:29:27.173000+00:00
10113  4244826201  3849306291        0  2012-11-03 12:29:27.173000+00:00
10157  4246840619  2401458775        0  2012-10-24 21:09:09.892000+00:00
10159  4246840619  2529072432        0  2012-10-24 21:09:47.154000+00:00
10161  4246840619  2643833505        0  2012-10-24 21:09:09.892000+00:00
10162  4246840619  2039358442        0  2012-10-24 21:09:09.892000+00:00
10164  4246840619   955398943        0  2012-10-24 21:09:09.892000+00:00
10166  4246840619   771676713        0  2012-10-24 21:09:31.565000+00:00
10173  4262553869  1532377761        0  2012-10-03 13:21:21.685000+00:00
10175  4262553869  2529072432        0  2012-10-03 13:21:22.710000+00:00
10179  4262553869   955398943        0  2012-10-03 13:21:23.227000+00:00
10180  4262553869  1600413013        0  2012-10-03 13:21:21.685000+00:00
10181  4268968909   955398943        0  2012-11-15 09:37:44.109000+00:00
10215  4288669162   719337372        0  2012-10-03 06:03:21.682000+00:00
10216  4288669162   955398943        0  2012-10-03 06:03:06.005000+00:00
10217  4288669162  2529072432        0  2012-10-03 06:03:10.578000+00:00
10218  4288669162  3632072502        0  2012-10-03 06:03:06.005000+00:00
10220  4288669162  1600413013        0  2012-10-03 06:03:06.005000+00:00
10222  4288669162  1532377761        0  2012-10-03 06:03:07.029000+00:00
10223  4288669162  1390707377        0  2012-10-03 06:03:08.539000+00:00
10224  4288669162  1044854627        0  2012-10-03 06:03:06.005000+00:00

[1578 rows x 4 columns]

In [116]:
contains.sort_index(by=["user_id"], ascending=[True])

          user_id       event  invited                         timestamp
29       15390083   907302600        0  2012-10-25 13:08:26.153000+00:00
30       15390083  2643833505        0  2012-10-25 13:08:22.098000+00:00
31       15390083  1361307272        0  2012-10-25 13:08:22.098000+00:00
32       15390083   955398943        0  2012-10-25 13:08:22.098000+00:00
33       15390083   771676713        0  2012-10-25 13:08:22.098000+00:00
34       15390083   633659090        0  2012-10-25 13:08:22.098000+00:00
35       15390083  2529072432        0  2012-10-25 13:08:22.098000+00:00
55       23465780  2529072432        0  2012-10-16 10:45:50.263000+00:00
56       23465780  3017074183        0  2012-10-16 11:01:06.724000+00:00
57       23465780   602394192        0  2012-10-16 10:45:50.263000+00:00
58       23465780   955398943        0  2012-10-16 10:45:50.263000+00:00
59       23465780  3807695143        0  2012-10-16 10:45:50.263000+00:00
60       23465780  2414358105        0  2012-10-16 10:45:50.263000+00:00
61       23465780  1600413013        0  2012-10-16 10:45:50.263000+00:00
149      71092144  1319656469        0  2012-10-13 11:28:22.892000+00:00
147      71092144  3676729604        0  2012-10-13 11:28:22.892000+00:00
148      71092144   289899674        0  2012-10-13 11:28:22.892000+00:00
145      71092144  3494003218        0  2012-10-13 11:28:22.892000+00:00
144      71092144  3735036412        0  2012-10-13 11:28:22.892000+00:00
146      71092144  1458428999        0  2012-10-13 11:28:22.892000+00:00
170      74504185   278651783        0  2012-10-24 04:10:02.638000+00:00
168      74504185   907302600        0  2012-10-24 04:10:02.638000+00:00
167      74504185  2529072432        0  2012-10-24 04:10:02.638000+00:00
166      74504185  1361307272        0  2012-10-24 04:10:02.638000+00:00
169      74504185   955398943        0  2012-10-24 04:10:19.755000+00:00
164      74504185   771676713        0  2012-10-24 04:10:02.638000+00:00
163      74504185   633659090        0  2012-10-24 04:10:02.638000+00:00
162      74504185  2643833505        0  2012-10-24 04:10:24.795000+00:00
165      74504185  1148012652        0  2012-10-24 04:10:03.645000+00:00
182      76313799  1203717384        0  2012-11-01 05:17:24.192000+00:00
...           ...         ...      ...                               ...
10165  4246840619  1042540981        0  2012-10-24 21:09:09.892000+00:00
10166  4246840619   771676713        0  2012-10-24 21:09:31.565000+00:00
10179  4262553869   955398943        0  2012-10-03 13:21:23.227000+00:00
10178  4262553869  1502284248        0  2012-10-03 13:21:21.685000+00:00
10177  4262553869  3735101795        0  2012-10-03 13:21:21.685000+00:00
10180  4262553869  1600413013        0  2012-10-03 13:21:21.685000+00:00
10175  4262553869  2529072432        0  2012-10-03 13:21:22.710000+00:00
10174  4262553869  3938809089        0  2012-10-03 13:21:21.685000+00:00
10173  4262553869  1532377761        0  2012-10-03 13:21:21.685000+00:00
10176  4262553869   445373500        0  2012-10-03 13:21:21.685000+00:00
10190  4268968909   124543921        0  2012-11-15 09:37:44.109000+00:00
10189  4268968909  2601678976        0  2012-11-15 09:37:44.127000+00:00
10187  4268968909   997119679        0  2012-11-15 09:38:24.070000+00:00
10186  4268968909  1726886137        0  2012-11-15 09:38:24.050000+00:00
10188  4268968909  2748538029        0  2012-11-15 09:37:44.109000+00:00
10184  4268968909  3465408215        0  2012-11-15 09:37:59.294000+00:00
10183  4268968909  2506611075        0  2012-11-15 09:37:44.109000+00:00
10182  4268968909  2145977549        0  2012-11-15 09:37:44.109000+00:00
10181  4268968909   955398943        0  2012-11-15 09:37:44.109000+00:00
10185  4268968909  3274361258        0  2012-11-15 09:37:59.326000+00:00
10223  4288669162  1390707377        0  2012-10-03 06:03:08.539000+00:00
10215  4288669162   719337372        0  2012-10-03 06:03:21.682000+00:00
10216  4288669162   955398943        0  2012-10-03 06:03:06.005000+00:00
10217  4288669162  2529072432        0  2012-10-03 06:03:10.578000+00:00
10218  4288669162  3632072502        0  2012-10-03 06:03:06.005000+00:00
10219  4288669162   999665321        0  2012-10-03 06:03:06.005000+00:00
10220  4288669162  1600413013        0  2012-10-03 06:03:06.005000+00:00
10221  4288669162  3802870894        0  2012-10-03 06:03:06.005000+00:00
10222  4288669162  1532377761        0  2012-10-03 06:03:07.029000+00:00
10224  4288669162  1044854627        0  2012-10-03 06:03:06.005000+00:00

[2465 rows x 4 columns]

In [123]:
contains1.to_csv("Measure_Testing_top100_ocuring_eventsoverallMain3.csv", index =False)

In [25]:
contains.groupby("C_3").size()

C_3
1.5     2711
4.5      624
85.0     263
dtype: int64

In [33]:
t = contains.loc[train['C_3'].isin([85.0])]

In [34]:
t

,Event_id,Start_time,City,State,Country,Lat,Lng,C_1,C_2,C_3,...,Invited,Timestamp,Not_interested,Locale,BirthYear,Gender,JoinedAt,Location,Timezone,Interested
546,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-11-01 08:21:26.294000+00:00',0,en_US,1994,male,2012-11-01T08:08:03.925Z,Phnom Pen Phnum Penh Cambodia',-300,0
547,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-29 16:36:24.589000+00:00',0,en_US,1994,male,2012-10-29T16:35:13.147Z,Phnom Penh',420,0
548,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-29 11:00:48.742000+00:00',0,en_US,1993,male,2012-10-29T10:59:55.390Z,Trabek 05',420,0
549,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-31 23:50:37.208000+00:00',0,en_US,1994,female,2012-10-31T23:49:52.726Z,Phnom Penh',420,0
550,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 15:54:30.636000+00:00',0,en_US,1992,female,2012-10-30T15:53:48.706Z,Phnom Penh',420,0
551,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-29 10:12:16.013000+00:00',0,en_US,1992,male,2012-10-29T10:10:19.174Z,Phnom Penh',420,0
552,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-31 08:30:48.942000+00:00',0,en_US,1994,female,2012-10-31T08:29:13.139Z,Phnom Penh',-480,0
553,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 04:17:26.173000+00:00',0,en_US,1986,male,2012-10-30T04:15:28.428Z,Phnom Penh',420,0
554,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 21:45:58.721000+00:00',0,en_GB,1992,female,2012-10-30T21:43:51.970Z,Phnom Penh',420,0
555,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-11-01 09:05:27.031000+00:00',0,en_US,1993,male,2012-11-01T09:04:52.797Z,Phnom Penh',420,0
556,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 08:18:41.103000+00:00',0,en_US,1994,male,2012-10-30T08:17:14.746Z,Phnom Penh',420,0
557,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 13:00:20.898000+00:00',0,en_GB,1993,male,2012-10-30T12:58:58.522Z,Phnom Penh 11',420,0
558,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-31 02:23:55.446000+00:00',0,en_US,1991,male,2012-10-31T02:15:57.195Z,Phnom Penh',420,0
559,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 03:23:29.559000+00:00',0,en_US,1993,male,2012-10-30T03:22:50.938Z,Phnom Penh',420,0
560,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 03:27:15.173000+00:00',0,en_US,1992,female,2012-10-30T03:26:23.294Z,Phnom Penh',420,0
561,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 13:49:08.117000+00:00',0,en_US,1990,female,2012-10-30T13:44:09.183Z,NaN,420,0
562,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 11:03:13.954000+00:00',0,en_US,1993,female,2012-10-30T11:01:48.385Z,Phnom Penh',420,0
563,952519340,2012-11-02T01:00:00.003Z,619.5,NaN,42.5,11.554,107.58,4,12,85,...,0,2012-10-30 10:20:14.924000+00:00',0,en_US,1991,male,2012-10-30T10:19:28.125Z,Phnom Penh',420,0
6359,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-01 06:06:15.428000+00:00',0,en_US,1992,female,2012-11-01T06:05:33.484Z,Phnom Penh',420,0
6360,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-10-30 07:07:00.329000+00:00',0,en_US,1994,male,2012-10-29T16:13:05.790Z,Phnom Penh',420,0
6361,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-05 06:34:20.199000+00:00',0,en_US,1987,male,2012-11-01T08:04:26.620Z,undefined undefined',-300,0
6362,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-10-30 16:18:42.618000+00:00',0,en_US,1993,male,2012-10-30T16:18:05.887Z,Phnom Pen Phnum Penh Cambodia',420,0
6363,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-10-30 21:45:58.721000+00:00',0,en_GB,1992,female,2012-10-30T21:43:51.970Z,Phnom Penh',420,0
6364,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-01 09:05:27.031000+00:00',0,en_US,1993,male,2012-11-01T09:04:52.797Z,Phnom Penh',420,0
6365,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-01 05:51:45.939000+00:00',0,en_US,1986,male,2012-11-01T05:50:59.627Z,Phnom Pen Phnum Penh Cambodia',420,0
6366,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-10-31 00:54:42.082000+00:00',0,en_US,1993,male,2012-10-31T00:50:22.784Z,Phnom Penh',420,0
6367,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-01 09:12:00.405000+00:00',0,en_GB,1992,female,2012-11-01T09:10:32.580Z,Phnom Penh',420,0
6368,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-10-30 13:40:17.430000+00:00',0,en_US,1981,male,2012-10-30T13:39:42.235Z,Phnom Penh',420,0
6369,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-09 12:39:22.858000+00:00',0,en_US,1980,male,2012-11-09T12:35:16.186Z,Phnom Penh',420,0
6370,1816813281,2012-11-10T00:30:00.003Z,931.0,NaN,81.0,11.531,107.58,7,3,85,...,0,2012-11-01 09:37:19.806000+00:00',0,en_US,1991,male,2012-11-01T08:49:09.804Z,Phnom Penh',420,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15187,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 10:14:08.597000+00:00',0,en_US,1993,male,2012-11-01T10:13:04.634Z,Phnom Penh',420,1
15188,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 09:31:41.886000+00:00',0,en_US,1990,male,2012-11-01T09:30:27.176Z,Phnom Penh',420,1
15189,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 05:50:51.859000+00:00',0,en_US,1988,male,2012-10-31T05:50:00.457Z,Phnom Penh',420,1
15190,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 02:31:52.912000+00:00',0,en_US,1987,female,2012-10-31T02:22:01.027Z,Phnom Penh',420,1
15191,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 10:24:26.134000+00:00',0,en_US,1981,female,2012-11-01T10:23:44.324Z,Phnom Penh 11',420,1
15192,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,1,2012-10-31 15:34:41.377000+00:00',0,en_US,1989,female,2012-10-31T15:32:24.101Z,Phnom Penh',420,1
15193,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 10:34:00.129000+00:00',0,en_US,1994,female,2012-11-01T10:33:00.091Z,Phnom Penh 11',420,1
15194,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 05:55:12.155000+00:00',0,en_US,1996,male,2012-11-01T05:52:48.131Z,Phnom Penh',420,1
15195,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 07:10:39.864000+00:00',0,en_US,1988,female,2012-11-01T07:08:03.847Z,Phnom Penh',420,1
15196,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 01:36:04.742000+00:00',0,en_US,1986,male,2012-10-31T00:47:34.106Z,Phnom Penh',420,1
15197,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 08:38:48.930000+00:00',0,en_US,1992,male,2012-11-01T08:37:40.113Z,Phnom Penh',-90,1
15198,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-03 14:09:37.668000+00:00',0,en_US,1995,female,2012-11-03T14:08:22.832Z,Phnom Penh 11',420,1
15199,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,1,2012-10-31 02:23:55.446000+00:00',0,en_US,1991,male,2012-10-31T02:15:57.195Z,Phnom Penh',420,1
15200,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 10:13:46.853000+00:00',0,en_US,1995,female,2012-11-01T10:12:48.718Z,Phnom Penh',420,1
15201,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 13:52:22.770000+00:00',0,en_US,1983,male,2012-11-01T07:53:43.664Z,Phnom Penh 11',420,1
15202,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 06:14:36.756000+00:00',0,en_US,1990,male,2012-11-01T06:12:48.423Z,Phnom Penh',420,1
15203,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 05:03:29.882000+00:00',0,en_US,1991,male,2012-11-01T05:03:00.122Z,Phnom Penh',480,1
15204,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 04:48:28.229000+00:00',0,en_GB,1990,male,2012-10-31T04:47:33.722Z,Phnom Pen Phnum Penh Cambodia',420,1
15205,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 06:09:22.502000+00:00',0,en_US,1989,female,2012-11-01T06:08:38.362Z,Phnom Penh',420,1
15206,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 08:30:55.585000+00:00',0,en_GB,1995,male,2012-10-31T03:27:18.823Z,Phnom Penh',420,1
15207,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 03:29:53.543000+00:00',0,en_US,1992,female,2012-10-31T01:52:43.060Z,Phnom Penh',420,1
15208,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 01:36:39.096000+00:00',0,en_US,1985,male,2012-11-01T01:36:08.087Z,Phnom Penh',420,1
15209,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 09:49:32.927000+00:00',0,en_US,1982,male,2012-11-01T09:48:44.165Z,NaN,420,1
15210,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 10:25:22.468000+00:00',0,en_US,1987,male,2012-11-01T10:23:56.003Z,Phnom Penh 11',420,1
15211,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 07:37:16.258000+00:00',0,fr_FR,1992,male,2012-10-31T07:33:59.394Z,Phnom Penh',420,1
15212,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-10-31 06:28:59.018000+00:00',0,en_US,1989,male,2012-10-31T06:28:03.746Z,Phnom Penh',510,1
15213,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 09:12:13.864000+00:00',0,en_US,1984,male,2012-11-01T09:11:02.679Z,Phnom Penh',420,1
15214,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-01 03:38:09.761000+00:00',0,en_US,1987,female,2012-11-01T03:36:36.608Z,Phnom Penh',420,1
15215,1076364848,2012-11-04T08:00:00.003Z,619.5,NaN,42.5,60.226,104.91,14,7,85,...,0,2012-11-04 10:19:29.945000+00:00',0,en_US,1992,male,2012-10-30T12:34:24.691Z,Phnom Penh',420,1
15226,2628680570,2012-11-01T01:00:00.003Z,931.0,NaN,81.0,3.194,44.77,3,15,85,...,0,2012-10-30 03:56:00.432000+00:00',0,id_ID,1991,male,2012-10-30T03:43:49.482Z,Yogyakarta,420,1

In [35]:
co = t[["User_id","Locale","BirthYear","Gender","JoinedAt","Location","Timezone","Interested","Event_id"]]

In [36]:
co.to_csv("C3_85.0_top100OverallMain.csv", index = False)

In [142]:
#import actual(truth) test data
true = pd.read_csv("testCustdataMain.csv", delimiter=",", quoting=0)

In [143]:
true.head()

,user_id,locale,birthyear,gender,joinedAt,location,timezone,event
0,851286067,id_ID,1993,male,2012-11-06T10:24:50.159Z,Jakarta 04,-300,3000227659
1,1000773879,en_US,1993,female,2012-07-11T03:04:29.622Z,NaN,-240,3433938884
2,1066251866,en_US,1981,female,2012-07-22T06:18:55.313Z,NaN,-240,434091691
3,629450757,id_ID,1995,male,2012-10-09T14:04:48.302Z,Medan Indonesia,420,1155472355
4,18236457,en_US,1984,female,2012-10-22T16:21:17.525Z,Edmonton Alberta,-360,3214494361

In [145]:
contains = true.loc[true['event'].isin([955398943,2007279414,1269035551,1600413013])]

In [146]:
contains

,user_id,locale,birthyear,gender,joinedAt,location,timezone,event
26,3507630779,en_US,1993,male,2012-11-11T07:18:46.851Z,Phnom Penh,-480,2007279414
47,3697643704,id_ID,1993,male,2012-10-29T14:08:17.674Z,Medan Indonesia,420,955398943
49,699420462,id_ID,1998,female,2012-10-02T12:28:21.594Z,Medan Indonesia,420,955398943
56,3240223983,en_US,1998,female,2012-10-30T11:39:35.628Z,Phnom Penh,420,2007279414
73,3160835923,en_US,1995,female,2012-10-30T09:59:34.936Z,Phnom Penh,420,2007279414
89,1757874805,en_US,1954,male,2012-10-31T06:40:50.406Z,Phnom Penh 11,420,2007279414
108,113021847,id_ID,1992,male,2012-10-25T16:57:38.856Z,Medan 26,-420,955398943
138,3781956022,id_ID,1998,male,2012-09-28T09:53:19.948Z,Medan Indonesia,420,1600413013
160,1111951186,id_ID,1992,female,2012-10-02T11:15:59.591Z,Medan Indonesia,420,955398943
182,3637069534,en_US,1988,male,2012-11-01T06:17:54.135Z,Phnom Penh,420,1269035551
190,3834320657,id_ID,1994,male,2012-11-19T04:06:00.495Z,Pematangsieantar Sumatera Utara Indonesia,420,955398943
201,141849067,en_US,1993,male,2012-10-31T06:27:30.208Z,Phnom Penh,420,1269035551
232,2030247174,en_US,1996,female,2012-10-31T03:46:24.012Z,Phnom Penh,420,1269035551
233,2177461994,en_GB,1991,female,2012-10-30T14:06:06.753Z,Phnom Penh 11,420,2007279414
268,3141270743,en_US,1992,male,2012-10-30T05:46:54.217Z,Phnom Penh,420,2007279414
300,2850503069,en_US,1994,female,2012-10-31T21:14:35.637Z,Phnom Penh,420,1269035551
392,2238882361,id_ID,1993,male,2012-09-30T04:50:07.526Z,Medan Indonesia,420,1600413013
454,620761021,en_US,1992,male,2012-10-30T12:46:15.189Z,Phnom Pen Phnum Penh Cambodia,420,2007279414
471,3550832930,en_US,1990,male,2012-11-01T06:12:43.188Z,Phnom Pen Phnum Penh Cambodia,420,1269035551
526,4268968909,id_ID,1991,male,2012-11-15T09:32:02.926Z,Medan Indonesia,420,955398943
535,3245449378,en_US,1988,female,2012-11-04T05:51:39.599Z,Phnom Penh,420,1269035551
536,942095316,id_ID,1993,male,2012-10-01T12:37:14.921Z,Medan Indonesia,420,955398943
594,2853688818,en_US,1990,female,2012-10-30T08:29:34.105Z,Phnom Penh,420,2007279414
602,975885955,en_US,1988,male,2012-10-30T04:10:48.276Z,Phnom Penh,420,2007279414
612,3044948713,id_ID,1997,male,2012-10-18T14:57:01.901Z,Bandung Indonesia,420,955398943
613,1540705179,en_US,1993,male,2012-10-30T09:51:36.319Z,,420,2007279414
644,1115995297,id_ID,1991,male,2012-10-01T06:29:28.377Z,Medan Indonesia,420,955398943
675,511678471,id_ID,1992,male,2012-11-12T15:24:00.613Z,Medan Indonesia,420,1600413013
707,1539795814,id_ID,1996,male,2012-11-16T13:07:23.804Z,Medan Indonesia,420,955398943
714,3226236386,id_ID,1996,male,2012-10-01T09:29:49.871Z,Medan Indonesia,420,1600413013
...,...,...,...,...,...,...,...,...
881,685448397,en_US,1986,male,2012-11-01T05:40:11.557Z,Phnom Penh,420,1269035551
910,3964856605,id_ID,1991,male,2012-10-03T11:37:35.766Z,Medan Indonesia,-420,955398943
947,2391268949,en_US,1996,female,2012-10-31T00:31:45.530Z,Phnom Penh 11,420,2007279414
957,1367498504,en_US,1988,male,2012-10-31T23:50:47.032Z,Phnom Penh,420,2007279414
964,583119832,en_US,1996,female,2012-11-01T08:04:19.181Z,Phnom Penh 11,420,1269035551
978,1727210805,id_ID,1993,male,2012-11-23T15:31:46.703Z,Santiago Chile,420,955398943
995,4036877181,id_ID,1995,female,2012-10-18T11:48:25.425Z,Medan 26,420,955398943
997,2755154178,id_ID,1996,male,2012-10-01T04:02:12.030Z,Madrid Spain,600,955398943
1013,3120509854,id_ID,1992,male,2012-10-01T00:09:39.323Z,Medan Indonesia,420,955398943
1022,1447459888,id_ID,1994,male,2012-11-05T11:13:58.665Z,Pekanbaru,420,955398943
1033,2664817652,id_ID,1989,male,2012-09-26T06:14:54.972Z,Medan Indonesia,420,955398943
1041,4244826201,en_US,1994,female,2012-11-03T12:26:35.496Z,Phnom Penh 11,420,1269035551
1048,3474165907,en_US,1992,male,2012-10-31T05:15:33.107Z,Phnom Penh,420,1269035551
1051,938766697,id_ID,1998,female,2012-10-09T07:14:20.659Z,Medan Indonesia,420,1600413013
1062,2056169186,en_GB,1990,male,2012-10-29T16:00:00.956Z,Phnom Penh,120,2007279414
1099,1354531726,id_ID,1995,male,2012-10-18T10:15:12.722Z,Medan Indonesia,420,1600413013
1122,1985184901,en_GB,1992,male,2012-11-01T07:47:41.149Z,Phnom Pen Phnum Penh Cambodia,420,1269035551
1123,442080465,en_US,1993,female,2012-10-31T23:12:46.770Z,Phnom Penh 11,420,2007279414
1139,2421584601,en_US,1995,female,2012-10-31T17:05:33.219Z,Phnom Penh,420,1269035551
1151,521412534,en_US,1992,female,2012-11-01T03:44:26.537Z,Banlung,420,2007279414
1169,4128216168,en_US,1990,male,2012-11-01T09:44:22.453Z,Phnom Penh,420,1269035551
1170,601185173,en_US,1988,male,2012-10-31T06:57:38.985Z,Phnom Penh 11,420,2007279414
1188,93148987,id_ID,1997,male,2012-10-16T14:27:33.610Z,Medan Indonesia,-270,1600413013
1189,617013723,id_ID,1995,female,2012-11-09T08:24:29.516Z,Porsea Sumatera Utara Indonesia,-330,955398943
1197,3594171699,en_US,1994,male,2012-11-01T05:54:32.336Z,Phnom Penh,420,1269035551
1225,2872854546,id_ID,1993,male,2012-11-06T07:46:56.011Z,Medan Indonesia,420,955398943
1240,1013594520,id_ID,1997,female,2012-10-29T10:44:09.728Z,Medan Indonesia,420,955398943
1294,2247085544,en_US,1994,female,2012-11-01T06:17:14.756Z,Phnom Pen Phnum Penh Cambodia,420,2007279414
1336,1210932037,id_ID,1996,male,2012-10-02T15:55:18.465Z,Medan Indonesia,420,955398943
1352,4125614780,id_ID,1992,male,2012-10-02T18:32:49.828Z,Medan Indonesia,420,955398943

In [147]:
contains.to_csv("TestCust_top100.csv", index = False)

In [4]:
train.columns

Index([u'Event_id', u'Start_time', u'City', u'State', u'Country', u'Lat',
       u'Lng', u'C_1', u'C_2', u'C_3',
       ...
       u'Invited', u'Timestamp', u'Not_interested', u'Locale', u'Birthyear',
       u'Gender', u'JoinedAt', u'Location', u'Timezone', u'Interested'],
      dtype='object', length=119)

In [5]:
ctrain = train[["User_id","Start_time","City","State","Country","Lat","Lng","C_1","C_2","C_3","C_4","C_5","C_6","C_7","C_8","C_9","C_10","C_11","C_12","C_13","C_14","C_15","C_16","C_17","C_18","C_19","C_20","C_21","C_22","C_23","C_24","C_25","C_26","C_27","C_28","C_29","C_30","C_31","C_32","C_33","C_34","C_35","C_36","C_37","C_38","C_39","C_40","C_41","C_42","C_43","C_44","C_45","C_46","C_47","C_48","C_49","C_50","C_51","C_52","C_53","C_54","C_55","C_56","C_57","C_58","C_59","C_60","C_61","C_62","C_63","C_64","C_65","C_66","C_67","C_68","C_69","C_70","C_71","C_72","C_73","C_74","C_75","C_76","C_77","C_78","C_79","C_80","C_81","C_82","C_83","C_84","C_85","C_86","C_87","C_88","C_89","C_90","C_91","C_92","C_93","C_94","C_95","C_96","C_97","C_98","C_99","C_100","C_other","Locale","Birthyear","Gender","JoinedAt","Location","Timezone","Invited","Timestamp","Interested","Not_interested"]]

In [7]:
#ctrain = train[["event_id","user_id","start_time","city","state","zip","country","lat","lng","c_1","c_2","c_3","c_4","c_5","c_6","c_7","c_8","c_9","c_10","c_11","c_12","c_13","c_14","c_15","c_16","c_17","c_18","c_19","c_20","c_21","c_22","c_23","c_24","c_25","c_26","c_27","c_28","c_29","c_30","c_31","c_32","c_33","c_34","c_35","c_36","c_37","c_38","c_39","c_40","c_41","c_42","c_43","c_44","c_45","c_46","c_47","c_48","c_49","c_50","c_51","c_52","c_53","c_54","c_55","c_56","c_57","c_58","c_59","c_60","c_61","c_62","c_63","c_64","c_65","c_66","c_67","c_68","c_69","c_70","c_71","c_72","c_73","c_74","c_75","c_76","c_77","c_78","c_79","c_80","c_81","c_82","c_83","c_84","c_85","c_86","c_87","c_88","c_89","c_90","c_91","c_92","c_93","c_94","c_95","c_96","c_97","c_98","c_99","c_100","c_other","locale","birthyear","gender","joinedAt","location","timezone","invited","timestamp","interested","not_interested"]]

In [6]:
y = train["Event_id"]

In [7]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(ctrain, y, test_size=0.2, random_state=0)

In [8]:
X_train.to_csv("X_trainN.csv", index= False)

In [9]:
X_test.to_csv("X_testN.csv", index= False)

In [10]:
y_test.to_csv("y_testN.csv", index= False)

In [11]:
y_train.to_csv("y_trainN.csv", index= False)

In [20]:
X_train.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,locale,birthyear,gender,joinedAt,location,timezone,invited,timestamp,interested,not_interested
1041,2114238114,4057602883,2012-12-14T05:30:00.003Z,San Francisco,CA,94110,United States,37.760,-122.419,2,...,en_US,1968,male,2012-10-04T22:36:40.905Z,Oakland California,-480,0,2012-10-04 22:42:31.941000+00:00,1,0
492,1618226807,2895220130,2012-09-15T01:00:00.003Z,Toronto,ON,NaN,Canada,43.655,-79.419,5,...,en_US,1979,male,2012-06-27T01:15:24.233Z,NaN,-240,0,2012-07-18 15:56:42.719000+00:00,0,0
789,1728231357,2903662804,2012-10-27T19:00:00.003Z,San Francisco,CA,NaN,United States,37.762,-122.419,6,...,en_US,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,2012-10-26 01:27:48.632000+00:00,0,0
557,935838961,3621549603,2012-03-15T22:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,en_US,1928,male,2012-07-31T17:32:32.552Z,NaN,-300,0,2012-11-21 15:35:09.900000+00:00,0,0
722,1728231357,2903662804,2012-10-27T19:00:00.003Z,San Francisco,CA,NaN,United States,37.762,-122.419,6,...,en_US,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,2012-12-06 20:15:50.514000+00:00,0,0

In [21]:
X_test.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,locale,birthyear,gender,joinedAt,location,timezone,invited,timestamp,interested,not_interested
1066,2959780535,3221698850,2012-10-27T11:00:00.000Z,Mississauga,ON,NaN,Canada,43.703,-79.637,0,...,en_US,1982,female,2012-07-14T18:01:43.039Z,NaN,-240,1,2012-08-11 13:35:05.398000+00:00,0,0
549,2349996208,1120323401,2012-09-28T12:00:00.003Z,City of Sydney,NSW,NaN,Australia,-33.869,151.203,5,...,en_US,1994,male,2012-10-14T11:29:46.174Z,North Richmond New South Wales Australia,660,0,2012-10-14 11:32:02.441000+00:00,0,0
103,3309372398,3591151863,2012-09-09T03:00:00.003Z,Tempe,AZ,NaN,United States,33.425,-111.940,1,...,en_US,1982,male,2012-09-20T03:28:07.285Z,Mesa Arizona,-420,0,2012-09-20 03:29:18.380000+00:00,1,0
759,1728231357,2903662804,2012-10-27T19:00:00.003Z,San Francisco,CA,NaN,United States,37.762,-122.419,6,...,en_US,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,2012-07-30 18:23:07.401000+00:00,0,0
453,666101022,4261340176,2012-07-15T01:00:00.000Z,San Francisco,CA,NaN,United States,37.783,-122.396,1,...,en_US,1982,male,2012-10-06T19:09:10.742Z,San Francisco California,-420,0,2012-10-06 19:10:09.689000+00:00,1,0

In [22]:
 y_train

1041      12241688
492      518779164
789      874736953
557      435263339
722     2512540415
251      711971335
312      436651588
77      3266986323
944     2224372535
264      939509575
478     3694263991
898     3788868841
725     2062625787
268     3770539193
431     2490299454
687     3669299967
240     1653016455
758     3996301727
655     2862031808
929     1159050153
841     3335940486
792      788496445
654     1999674603
679     1164122688
818     3036332464
625     2998958650
141     2058886809
311     2214787713
5       1163018914
482      566408952
           ...
697     1728231357
423     2902416704
910      366912974
659      372148582
797     2770928885
1047    3987699038
99        46008403
850     1056011812
448      170930739
755     2507770632
976      490590226
115      485696274
777     1728231357
72      1600849184
845      194287425
537     1080582769
849      287440303
174     2750641926
87       712219219
551     3304837598
705     2971360373
314      711971335
600     2423374959
599      760152605
277      436651588
1033    2204967448
763     1164122688
835     3335940486
559     2421272892
684      731713663
Name: event, dtype: int64

In [23]:
y_test

1066    3364940341
549     4022161844
103     3023628065
759     3996301727
453     3640265762
278      939509575
787      307263394
533     3345225671
604     1886391531
913     2622473733
863     1471977551
31      2190223358
808      340072523
27      3545475739
857     2955724234
693     3576424973
1067     567626291
249      436651588
680     3693943691
700     2236462300
826     3701547443
927     1773358985
823     3610133881
1000    3873935598
596      812528842
1024    1370522761
1003    3798981472
732     2219009935
859     4029785203
605      435263339
           ...
471     2042030195
15       483490410
761      647011225
945     3611263082
399     1582270949
175     3247396557
413      771676713
395      115584728
876     4110062919
486     3008955247
1017     148481382
805     2548777291
561     3889821387
971     2091251917
283     2214787713
45      3632963428
924     3659345285
142     3931609399
1018    4294101061
915     3448037031
995      539541742
55      3105234108
85       485696274
836     4027073137
500     3455574126
1011    3453000167
822     4110062919
685      874736953
871     2683829848
583     2421272892
Name: event, dtype: int64

In [24]:
y_test.shape

(107L,)